
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyPartialView</title>
</head>
<body>
    <div> 
        <label asp-for="First Tag Helper">First Tag Helper</label>
    </div>
</body>
</html>
